[submodule "third-party/kaitai_struct_cpp_stl_runtime"]
	path = third-party/kaitai_struct_cpp_stl_runtime
	url = https://github.com/scottmsilver/kaitai_struct_cpp_stl_runtime.git
[submodule "third-party/Simple-Web-Server"]
	path = third-party/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
	branch = master
[submodule "third-party/served"]
	path = third-party/served
	url = https://github.com/datasift/served.git
	branch = master
